[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
rename = "python rename_meisai_with_date.py"
extract = "python extract_je_usage_csv.py"
